body {
    font-family: "Comic Sans MS",Arial,sans-serif;
    font-size: 10pt;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style:none;
}

p {
    text-align:left;
    color:#666;
    margin:5px 2px;
}

h2 {
    color:#045FB4;
    text-align:center;
    font-size:1.2em;
    margin:2px;
}

h3 {
    color:#006;
    text-align:center;
    font-size:1.1em;
    margin:1px;
}


a{
    display:block;
    text-align:right;
}

.indicator img {
    vertical-align: middle;

}

.icon {
    vertical-align: middle;
}

ul.letters {
    text-align: center;
    padding: 10px;
}

ul.letters li {
   width: 140px;
   font-size: 20px;
   background-color: #fff;
   color: #f00;
   display: inline-block;
   padding: 2px;
   margin:0 20px 0 20px;
   border: 1px solid #000;
   border-radius: 5px;
   cursor: pointer;

}

ul.item {
  text-align:center;
}

ul.item li {
    float: left;
    display: inline-block;
} 

.container {
    margin-left: 20px;
    max-width:  1000px;
}

.questionWrapper {
    float:left;
    background-color:#fff;
    width:250px;
    padding:10px;
    border-radius:8px;
    text-align:center;
    margin:10px;
    cursor: pointer;
}

.word {
    padding: 10px;
    clear: both;
    text-align: center;
    font-size: 0px;
    height: 30px;
}

.word span {
    font-size: 0px;
}

.word span span {
    font-size: 20px;
    padding-bottom: 3px;
    display: inline-block;
    line-height: 15px;
    border-bottom: 1px solid #fff;
}

.pronImage {
    clear:both;
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

.img-wrap {
        display: inline-block;
        line-height: 0;
}

.img-wrap > img {
    opacity: 0.5; 
}

.solution {
    color: #f00;
    border-color: #000 !important;
}

.empty {
    width: 40px;
    border-color: #000 !important;
}

.empty:before {
    content:"   ";
}

.indicator {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.buttons {
   clear:both; 
}

button {
    font-size: 16px;
}

.left {
   float:left; 
}

.right {
   float:right; 
}
