/* ==========================================================================
LESS
========================================================================== */
.text-not-selectable {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.inline-block {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */

}
/* ==========================================================================
GENERAL STYLES
========================================================================== */
html,
body {
  font-family: "Comic Sans MS", Arial, sans-serif;
  background-color: #ffffff;
  -webkit-transform: translate3d(0, 0, 0);

}

ul,
p {
  margin: 0;
}
input,
textarea,
input:active,
textarea:active,
:focus,
:visited {
  outline: none;
  -moz-outline-style: none;
}
a:visited {
  outline: none;
  -moz-outline-style: none;
}
a:focus {
  outline: none;
  -moz-outline-style: none;
}
::-moz-focus-inner {
  border: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */

}
.clearfix:after {
  clear: both;
}
.list-inline li {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */

}
.wrapper {
  padding: 20px;
  width: 900px;
  min-width: 900px;
}
.title-main {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
}
.dialogue {
  height: 346px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.phrases {
  width: 725px;
  height: 346px;
}
ul {
  padding-left: 0;
  list-style: none;
}
.numbers,
.phrases,
.score {
  display: inline-block;
  vertical-align: top;
}
.list-numbers li {
  width: 31px;
  height: 29px;
  margin: 0 10px 6px 0;
  background: url(../img/bulb.png) no-repeat;
  line-height: 29px;
  text-align: center;
}
.list-phrases li {
  position: relative;
  height: 35px;
  -webkit-transform: translate3d(0, 0, 0);
}
.list-phrases li font {
  font-size: 14px;
}
.list-phrases li span {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */

  width: 700px;
  height: 25px;
  line-height: 24px;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 5px;
  border: 2px solid #ccc;
  vertical-align: top;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f4f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f9f9), to(#b1b8bc));
  background: -webkit-linear-gradient(top, #f4f9f9, #b1b8bc);
  background: -moz-linear-gradient(top, #f4f9f9, #b1b8bc);
  background: -ms-linear-gradient(top, #f4f9f9, #b1b8bc);
  background: -o-linear-gradient(top, #f4f9f9, #b1b8bc);
}
.list-phrases li:hover span {
  background-color: #3abcf2;
  background: -webkit-gradient(linear, left top, left bottom, from(#3abcf2), to(#0a7eae));
  background: -webkit-linear-gradient(top, #3abcf2, #0a7eae);
  background: -moz-linear-gradient(top, #3abcf2, #0a7eae);
  background: -ms-linear-gradient(top, #3abcf2, #0a7eae);
  background: -o-linear-gradient(top, #3abcf2, #0a7eae);
  color: white;
  border: 2px solid #0c91c8;
  cursor: pointer;
}
.list-phrases .unsortable span,
.list-phrases .unsortable:hover span,
.list-phrases .fixed span,
.list-phrases .fixed:hover span {
  border: 2px solid #ddd;
  color: #000000;
  background-color: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#eeeeee));
  background: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background: -ms-linear-gradient(top, #eeeeee, #eeeeee);
  background: -o-linear-gradient(top, #eeeeee, #eeeeee);
  cursor: inherit;
}
.list-phrases i {
  position: absolute;
  display: block;
  top: 2px;
  right: -30px;
}
.list-phrases i.correct {
  width: 22px;
  height: 22px;
  background-image: url(../img/tick.png);
}
.list-phrases i.incorrect {
  width: 22px;
  height: 20px;
  background-image: url(../img/cross.png);
}
.buttons {
  clear: both;
  display: table;
  width: 100%;
}
.buttons div {
  display: table-cell;
  vertical-align: middle;
}
.button-primary {
  margin-bottom: 10px;
  width: 130px;
  height: 26px;
  margin-right: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #cacdce;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #fcfdfd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #d5d7d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#d5d7d8), to(#a1a9ae));
  background: -webkit-linear-gradient(top, #d5d7d8, #a1a9ae);
  background: -moz-linear-gradient(top, #d5d7d8, #a1a9ae);
  background: -ms-linear-gradient(top, #d5d7d8, #a1a9ae);
  background: -o-linear-gradient(top, #d5d7d8, #a1a9ae);
}
.button-primary:hover {
  background-color: #e0e3e5;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e3e5), to(#647a82));
  background: -webkit-linear-gradient(top, #e0e3e5, #647a82);
  background: -moz-linear-gradient(top, #e0e3e5, #647a82);
  background: -ms-linear-gradient(top, #e0e3e5, #647a82);
  background: -o-linear-gradient(top, #e0e3e5, #647a82);
  border-color: #bcc4c7;
}
.button-primary[disabled],
.button-primary[disabled]:hover {
  border-color: #ebedee;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cdd1d4));
  background: -webkit-linear-gradient(top, #ffffff, #cdd1d4);
  background: -moz-linear-gradient(top, #ffffff, #cdd1d4);
  background: -ms-linear-gradient(top, #ffffff, #cdd1d4);
  background: -o-linear-gradient(top, #ffffff, #cdd1d4);
}
.score {
  width: auto;
  font-size: 20px;
}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
#loading-image {
  margin: 200px;
  z-index: 100;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .list-phrases li:hover span {
    border: 2px solid #ccc;
    color: #000000;
    background-color: #f4f9f9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f9f9), to(#b1b8bc));
    background: -webkit-linear-gradient(top, #f4f9f9, #b1b8bc);
    background: -moz-linear-gradient(top, #f4f9f9, #b1b8bc);
    background: -ms-linear-gradient(top, #f4f9f9, #b1b8bc);
    background: -o-linear-gradient(top, #f4f9f9, #b1b8bc);
  }
  .button-primary {
    height: 46px;
    width: 110px;
    padding: 3px;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .list-phrases li:hover span {
    border: 2px solid #ccc;
    color: #000000;
    background-color: #f4f9f9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f9f9), to(#b1b8bc));
    background: -webkit-linear-gradient(top, #f4f9f9, #b1b8bc);
    background: -moz-linear-gradient(top, #f4f9f9, #b1b8bc);
    background: -ms-linear-gradient(top, #f4f9f9, #b1b8bc);
    background: -o-linear-gradient(top, #f4f9f9, #b1b8bc);
  }
  .button-primary {
    height: 46px;
    width: 110px;
    padding: 3px;
  }
}
