<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="js/angular.min.js"></script>
    <script src="js/xml2json.js"></script>
    <script src="js/module.js"></script>
    <script src="js/buzz.min.js"></script>
    <script src="js/draganddrop.js"></script>
    
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
  <div ng-controller="AppController" class="container" id="app-container">
  	 <h1 ng-bind-html="title"></h1>
  	 <ul class="letters">
        <li ng-repeat="option in options"  ui-draggable="true"  drag="option">{{option.__cdata}}</li>
  	 </ul>
     <ul>
        <li ng-repeat="question in questions" ui-on-Drop="onDrop($event,$data,question)">
           <div class="questionWrapper" ng-click="playClip(question.questionItems.item[0]._hintaudiopath)" >
               <img ng-src="{{question.questionItems.item[0]._imagepath}}" class="pronImage"/>
               <div class="word"> 
           	   
	           	   <span ng-repeat="item in question.questionItems.item" ng-switch="item._type">      <span ng-switch-when="text">{{item.__cdata}}</span>
	                     <span ng-switch-when="lozenge" ng-class="{true: 'solution', false: 'empty'}[$parent.question.answerGiven]">{{$parent.question.givenAnswer}}</span>
	                     <span ng-if="$last" class="indicator"><img ng-show="question.status == 'ANSWER_CORRECT'" ng-class="icon" src="content/shared_assets/images/correct.png"/><img ng-show="question.status == 'ANSWER_WRONG'" ng-class="icon" src="content/shared_assets/images/incorrect.png"/></span>
	               </span>
               </div>
              
            </div>
        </li>
      </ul>
      <div class="buttons">
      	<button ng-disabled="!isComplete()" ng-click="checkAnswer();">Check Answers</button>
      	<button ng-disabled="!someWrong()" ng-click="tryAgain();">Try again</button>
      	<button ng-disabled="!isStarted()" ng-click="reset();">Reset</button>
        |
        <button ng-disabled="" ng-click="showNextAnswer();">See next answer</button>
      </div>
  </div>

</body>

</html>