<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="js/xml2json.js"></script>
    <script src="js/module.js"></script>
    <script src="js/buzz.min.js"></script>
    <script src="js/draganddrop.js"></script>
    
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
  <div ng-controller="AppController" class="container" id="app-container">
  	 <h1 ng-bind-html="title"></h1>
  	 <ul class="letters">
        <li ng-repeat="option in options"  ui-draggable="true"  drag="option">{{option.__cdata}}</li>
  	 </ul>
     <ul>
        <li ng-repeat="question in questionGroup.question" ui-on-Drop="onDrop($event,$data,question)">
           <div class="questionWrapper" ng-click="playClip(question.questionItems.item[0]._hintaudiopath)" >
               <img ng-src="{{question.questionItems.item[0]._imagepath}}" class="pronImage"/>
               <div class="word">
                  <span>{{question.questionItems.item[1].__cdata}}</span><span ng-class="{true: 'solution', false: 'empty'}[question.answerGiven]">{{question.givenAnswer}}</span><span>{{question.questionItems.item[3].__cdata}}</span>
                  <span class="indicator" ng-if="$parent.answerChecked"><img ng-if="question.answerCorrect" src="content/shared_assets/images/correct.png"/><img ng-if="!question.answerCorrect" src="content/shared_assets/images/incorrect.png"/>
               </div>
            </div>
        </li>
      </ul>
      <div class="buttons">
      	<button ng-disabled="notComplete" ng-click="checkAnswer();">Check Answers</button>
      	<button ng-disabled="!tryAgainEnabled" ng-click="tryAgain();">Try again</button>
      	<button ng-disabled="!offTheMark" ng-click="reset();">Reset</button>
      	<button ng-disabled="!tryAgain" ng-click="tryAgain();">Restart</button>
      </div>
  </div>

</body>

</html>