
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dialogue ordering</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/xml2json.js"></script>
        <script src="js/buzz.min.js"></script>
        <script src="js/angular-dragdrop.js"></script>
        <script src="js/jquery.ui.touch-punch.min.js"></script>
        <script src="js/dialogue.js"></script>
    </head>
    <body data-ng-app="orderDialogue">
        <div class="wrapper" data-ng-controller="GameController">
            <h1 class="title-main">Order the dialogue.</h1>
            <div class="dialogue">
                <div class="numbers">
                    <ul class="list-numbers" data-ng-model="dialogues">
                        <li  data-ng-repeat="dialogue in dialogues">{{$index + 1}}</li>
                    </ul>
                </div>
                <div class="phrases">
                    <ul class="list-phrases" id="the-list">
                        <li data-ng-repeat="dialogue in dialogues" data-drag="dialogue.isCorrect == null || dialogue.isCorrect == false" jqyoui-draggable="{onStart:'onStart({{$index}})',placeholder: 'keep'}" data-jqyoui-options="{axis: 'y',revert: 'invalid'}" data-ng-model="dialogue" data-drop="dialogue.isCorrect == null || dialogue.isCorrect == false" jqyoui-droppable="{onDrop:'onDrop({{$index}})'}" data-ng-class="{'unsortable': dialogue.isCorrect === true, 'fixed': dialogue.isCorrect != null,}" >
                           <span data-ng-bind-html="dialogue.text"></span>
                           <i data-ng-class="{'correct': dialogue.isCorrect === true, 'incorrect': dialogue.isCorrect === false}"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="buttons" data-ng-model="dialogues">
                <div class="left">
                    <button class="button-primary" data-ng-click="checkAnswers()" data-ng-disabled="!isStarted || isChecked || allAnswersShown">Check answers</button>
                    <button class="button-primary" data-ng-disabled="!isChecked || allAnswersShown" data-ng-click="tryAgain()">Try again</button>
                    <button class="button-primary" data-ng-click="reset()" data-ng-disabled="!isStarted">Reset</button>                    
                </div>
                <div class="score">
                    Score <span>{{score() || ''}}</span>/<span>{{dialogues.length}}</span>
                </div>
                <div class="right">
                    <button class="button-primary" data-ng-disabled="allAnswersShown || isChecked" data-ng-click="seeNextAnswer()">See next answer</button>
                    <button class="button-primary" data-ng-disabled="allAnswersShown || isChecked" data-ng-click="seeAllAnswers()">See all answers</button>
                </div>
            </div>
        </div>
    </body>
</html>
